name: Daily Slack Message

on:
  schedule:
    - cron: '17 15 * * *'  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  send-slack-message:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm install
      
      - name: Run Slack message script
        run: node index.mjs
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
          SLACK_SIGNINGSECRET: ${{ secrets.SLACK_SIGNINGSECRET }}
          CHANNEL: ${{ secrets.CHANNEL }}